TaxCalcWebSite/TaxCalcWebSite/App_WebReferences/ServiceReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="TaxRateCalculatorStudentProject" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="TaxRateCalculatorStudentProject" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="TaxRateCalculatorStudentProject">
      <s:element name="getTax">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zipcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTaxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTaxResult" type="tns:TaxInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaxInfo" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getTaxSoapIn">
    <wsdl:part name="parameters" element="tns:getTax" />
  </wsdl:message>
  <wsdl:message name="getTaxSoapOut">
    <wsdl:part name="parameters" element="tns:getTaxResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="getTax">
      <wsdl:input message="tns:getTaxSoapIn" />
      <wsdl:output message="tns:getTaxSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTax">
      <soap:operation soapAction="TaxRateCalculatorStudentProject/getTax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTax">
      <soap12:operation soapAction="TaxRateCalculatorStudentProject/getTax" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:55223/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:55223/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>